<!--sidebar start-->
<aside>
	<div id="sidebar"  class="nav-collapse ">
		<!-- sidebar menu start-->
		<ul class="sidebar-menu" id="nav-accordion">
			<li>
				<a class="<%= @zone =='index' ? 'active' : '' %>" href="index.html"> <i class="icon-dashboard"></i> <span>首页</span> </a>
			</li>
			<li class="sub-menu">
				<a href="javascript:;"  class="<%= ['fileupload', 'bugreportview'].include?(@zone) ?'active' : '' %>"> <i class="icon-th"></i> <span>缺陷报告属性抽取</span> </a>
				<ul class="sub">
					<li class="<%= @zone =='fileupload' ? 'active' : '' %>">
						<a  href="fileupload">数据上传</a>
					</li>
					<li class="<%= @zone =='bugreportview' ? 'active' : '' %>">
						<a  href="bugreportview">缺陷报告查看</a>
					</li>
				</ul>
			</li>
			<li class="sub-menu">
				<a href="javascript:;"  class="<%= ['mbfunction', 'frulecal', 'fruleview'].include?(@zone) ?'active' : '' %>"> <i class="icon-tasks"></i> <span>模糊关联规则挖掘</span> </a>
				<ul class="sub">
					<li class="<%= @zone =='mbfunction' ? 'active' : '' %>">
						<a  href="mbfunction">隶属度函数定义</a>
					</li>
					<li class="<%= @zone =='frulecal' ? 'active' : '' %>">
						<a  href="frulecal">模糊关联规则挖掘计算</a>
					</li>
					<li class="<%= @zone =='fruleview' ? 'active' : '' %>">
						<a  href="fruleview">模糊关联规则查看</a>
					</li>
				</ul>
			</li>
			<li class="sub-menu">
				<a href="javascript:;" class="<%= ['mrmodel', 'result'].include?(@zone) ?'active' : '' %>" > <i class=" icon-bar-chart"></i> <span>多元回归预测模块</span> </a>
				<ul class="sub">
					<li class="<%= @zone =='mrmodel' ? 'active' : '' %>">
						<a  href="mrmodel">多元回归模型</a>
					</li>
					<li class="<%= @zone =='result' ? 'active' : '' %>">
						<a  href="result">缺陷报告修复时间预测</a>
					</li>
				</ul>
			</li>
			<li class="sub-menu">
				<a  href="login.html"> <i class="icon-user"></i> <span>登出</span> </a>
			</li>

		</ul>
		<!-- sidebar menu end-->
	</div>
</aside>
<!--sidebar end-->