
<section id="main-content">
	<section class="wrapper">
		<!-- page start-->
		<table class="table">
			<tdead>
				<tr>
					<th>#</th>
					<th>生命周期</th>
					<th>解决状态</th>
					<th>修复时间</th>
					<th>评论数</th>
					<th>修改数</th>
					<th>独立修改数</th>
					<th>附件数</th>
					<th>开发者数</th>
					<th>严重程度</th>
					<th>依赖缺陷数</th>
					<th>阻塞缺陷数</th>
					<th>报告人声誉</th>
					<th>距离缺陷库创建时间</th>
				</tr>
			</thead>
			<tbody>
				<% @brs.each do |br| %>
				<tr>
					<td><%=br.bid%></td>
					<td><%=br.seq%></td>
					<td><%=br.resolution%></td>
					<td><%=br.elapsedday%></td>
					<td><%=br.commentnumber%></td>
					<td><%=br.modinumber%></td>
					<td><%=br.umodinumber%></td>
					<td><%=br.attachnumber%></td>
					<td><%=br.devnumber%></td>
					<td><%=br.severity%></td>
					<td><%=br.dependencynumber%></td>
					<td><%=br.blocknumber%></td>
					<td><%=br.reputation%></td>
					<td><%=br.fsday%></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<%= will_paginate @brs%>
		<!-- page end-->
	</section>
</section>

